.icon-box {
    margin-top: 2rem;
  }
  
  @media (max-width: 600px) {
    .icon-box {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
  
    .icon-button {
      margin: 0 0.5rem;
    }
  }
  